{% extends "../base.twig" %}

{% block title %}{{ username }}'s {{ playList.title }}{% endblock %}
{% block content %}
    {% if errors %}
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span>Form contains errors. Please try again.</span>
        </div>
    {% endif %}

    <div class="row">
        <h1 class="col-md-10">{{ username }}'s {{ playList.title }}</h1>
        {% if followBtn %}
        <div class="col-md-2">
            <form action="{{ '/' | path}}{{ username }}/playlists/{{ playList.id }}/follow" method="POST">
                <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
                <button type="submit" class="btn btn-success"><strong>+</strong> Follow</button>
            </form>
        </div>
        {% endif %}
    </div>
    {% include '../fragments/player.twig' %}

{% endblock %}
