{% extends "../base.twig" %}

{% block title %}{{ account.username }}'s playlists{% endblock %}
{% block content %}
    {% if errors %}
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span>Form contains errors. Please try again.</span>
        </div>
    {% endif %}

    <div class="row">
        <h1 class="col-md-10">{{ account.username }}'s PlayLists</h1>
        {% if followBtn %}
        <div class="col-md-2">
            <form action="{{ '/' | path}}{{ account.username }}/follow" method="POST">
                <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
                <button type="submit" class="btn btn-success"><strong>+</strong> Follow</button>
            </form>
        </div>
        {% endif %}
    </div>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Created On</th>
            <th>Acction</th>
        </tr>
        {% for playList in account.playlists %}
            <tr>
                <td><a href="playlists/{{ playList.id }}">{{ playList.title }}</a></td>
                <td>{{ playList.createdOn }}</td>
                <td>
                    <form method="post"
                          action="{{ '/' | path }}{{ playList.owner.username }}/playlists/{{ playList.id }}/follow">
                        <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
                        <button type="submit" class="btn btn-success btn-xs">
                            <strong>+</strong> Follow
                        </button>
                </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if playListBean %}
        <form class="form-narrow form-horizontal" method="post" action="{{ '/' | path }}{{ account.username }}/playlists">
            <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
            <fieldset>
                <legend>New PlayList</legend>
                <div class="form-group">
                    <label for="title" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="title" placeholder="Title"
                               value="{{ playListBean.title }}" name="title">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default">Create</button>
                    </div>
                </div>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}
