{% extends "../base.twig" %}

{% block title %}Sign Up{% endblock %}
{% block content %}
    {% if errors %}
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span>Form contains errors. Please try again.</span>
        </div>
    {% endif %}
    <form class="form-narrow form-horizontal" method="post" action="{{ 'signup' | path }}">
        <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
        <fieldset>
            <legend>Please Sign Up</legend>
            <div class="form-group">
                <label for="username" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" placeholder="Username"
                           value="{{ signupBean.username }}" name="username">
                    {% if errors.hasFieldErrors("username") %}
                        <span class="help-block">Incorrect username</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="email" placeholder="Email address" name="email"
                            value="{{ signupBean.email }}"/>
                    {% if errors.hasFieldErrors("email") %}
                        <span class="help-block">Incorrect email</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password"/>
                    {% if errors.hasFieldErrors("password") %}
                        <span class="help-block">Incorrect password</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="passwordVerify" class="col-lg-2 control-label">Password Verification</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="passwordVerify" placeholder="Password Verification"
                           name="passwordVerify"/>
                    {% if errors.hasFieldErrors("passwordVerify") %}
                        <span class="help-block">Passwords need to match</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Sign up</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <p>Already have an account? <a href="{{ 'signin' | path }}">Sign In</a></p>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
