{% extends "../base.twig" %}

{% block title %}Sign In{% endblock %}
{% block content %}
    <form class="form-narrow form-horizontal" action="{{ '/j_spring_security_check' | path  }}" method="post">
        <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
        {% if error %}
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span>Sign in error</span>
            </div>
        {% endif %}
        <fieldset>
            <legend>Please Sign In</legend>
            <div class="form-group">
                <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="j_username" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="j_password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_spring_security_remember_me" /> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <p>New here? <a href="signup" th:href="@{/signup}">Sign Up</a></p>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
