{% extends "../base.twig" %}

{% block title %}{{ album.title }}{% endblock %}
{% block content %}
    <h1>{{ album.title }}</h1>
    <p>
        {% for author in album.authors %}
            <a href="{{ '/author' | path }}/{{ author.id }}">{{ author.name }}</a>,
        {% endfor %}
    </p>
    <hr>
    {% include "../fragments/player.twig" %}
{% endblock %}
