{% extends "../base.twig" %}

{% block title %}{{ author.name }}{% endblock %}
{% block content %}
    <div class="row">
        <h1 class="col-md-10">{{ author.name }}</h1>
        {% if followBtn %}
            <div class="col-md-2">
                <form action="{{ '/author' | path}}/{{ author.id }}/follow" method="POST">
                    <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
                    <button type="submit" class="btn btn-success"><strong>+</strong> Follow</button>
                </form>
            </div>
        {% endif %}
    </div>
    <p>
        {{ author.bio }}
    </p>
    <hr>
    <ul class="list-group">
        {% for album in author.albums %}
            <a href="{{ '/album' | path }}/{{ album.id }}">
                <li class="list-group-item">{{ album.title }}</li>
            </a>
        {% endfor %}
    </ul>
{% endblock %}
