{% extends "../base.twig" %}

{% block title %}Home{% endblock %}
{% block content %}
    <h2>What's Happening</h2>
    <ul class="list-group">
        {% for notification in notifications %}
            <a href="{{ notification.feed.url | path }}">
                <li class="list-group-item">{{ notification.content }}</li>
            </a>
        {% endfor %}
    </ul>
    <h2><i class="glyphicon glyphicon-stats"></i> Top 100</h2>
    {% include "../fragments/player.twig" %}
{% endblock %}
