{% extends "../base.twig" %}

{% block css %}
    <link href="{{ asset 'css/bootstrap.min.css' }}" rel="stylesheet" media="screen" />
    <link href="{{ asset 'css/core.css' }}" rel="stylesheet" media="screen" />
    <link href="{{ asset 'css/landing-page.css' }}" rel="stylesheet" media="screen" />
{% endblock %}

{% block title %}Home{% endblock %}
{% block intro %}
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Sasha Player</h1>
                        <h3>The best music streaming service</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="{{ '/signup' | path }}" class="btn btn-success btn-lg">Sign Up</a>
                            </li>
                            <li>
                                <a href="{{ '/signin' | path }}" class="btn btn-primary btn-lg">Sign In</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <h2><i class="glyphicon glyphicon-stats"></i> Top 100</h2>
    {% include "../fragments/player.twig" %}
{% endblock %}
