<!DOCTYPE html>
<html>
<head>
    {% block javascript %}
        <script src="{{ asset 'js/jquery.min.js' }}"></script>
        <script src="{{ asset 'js/bootstrap.min.js' }}"></script>
    {% endblock %}
    {% block css %}
        <link href="{{ asset 'css/bootstrap.min.css' }}" rel="stylesheet" media="screen" />
        <link href="{{ asset 'css/core.css' }}" rel="stylesheet" media="screen" />
    {% endblock %}
    <title>{% block title %}{% endblock %} - Music Online</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ '/' | path }}">Sasha Player</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav col-md-6">
                {% if authenticated %}
                    <li><a href="{{ '/account/current' | path }}">My playlists</a></li>
                {% endif %}
                <li>
                    <form class="navbar-form form-inline" role="search" action="{{ '/search' | path }}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q" value="{{ q }}">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if authenticated %}
                        <a href="{{ '/logout' | path }}" onclick="$('#form').submit();">Logout</a>
                        <form style="visibility: hidden" id="form" method="post" action="{{ '/logout' | path }}">
                            <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
                        </form>
                    {% else %}
                        <a href="{{ '/signin' | path }}">Sign in</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
{% block intro %}{% endblock %}
<div id="main-content" class="container">{% block content %}{% endblock %}</div>
<hr>
<footer class="container">
    {% block footer %}
        &copy; Copyright 2011
    {% endblock %}
</footer>
</body>
</html>