{% extends "../base.twig" %}

{% block title %}Home{% endblock %}
{% block content %}


    <h1>Albums</h1>

    <table class="table">
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        {% for album in albums %}
            <tr>
                <td><a href="{{ '/admin/albums' | path }}/{{ album.id}}">{{ album.id }}</a></td>
                <td>{{ album.title }}</td>
                <td>{% for author in album.authors %}{{ author.name }},{% endfor %}</td>
            </tr>
        {% endfor %}
    </table>


    <form class="form-narrow form-horizontal" method="post" action="{{ '/admin/albums' | path }}">
        <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
        <fieldset>
            <legend>New Album</legend>

            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Title</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="name" placeholder="Title"
                           value="{{ albumBean.title }}" name="title">
                    {% if errors.hasFieldErrors("title") %}
                        <span class="help-block">Need a value</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="bio" class="col-lg-2 control-label">Author</label>
                <div class="col-lg-10">
                    <select class="form-control" name="author" value="{{ albumBean.author }}">
                        {% for author in authors %}
                                <option value="{{ author.id }}">{{ author.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Create</button>
                </div>
            </div>

        </fieldset>
    </form>

{% endblock %}