{% extends "../base.twig" %}

{% block title %}Home{% endblock %}
{% block content %}

    <h1>Album {{ album.title }}</h1>

    <table class="table">
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Youtube id</th>
        </tr>
        {% for song in songs %}
            <tr>
                <td>{{ song.id }}</td>
                <td>{{ song.title }}</td>
                <td><a href="https://www.youtube.com/watch?v={{ song.youtubeId }}">{{ song.youtubeId }}</a></td>
            </tr>
        {% endfor %}
    </table>

    <form class="form-narrow form-horizontal" method="post" action="{{ submitPath | path }}">
            <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
            <fieldset>
                <legend>New Song</legend>

                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" value="{{ songBean.title }}" id="title" placeholder="Title" name="title">
                        {% if errors.hasFieldErrors("title") %}
                            <span class="help-block">Need a value</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Youtube id</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="youtubeId" placeholder="Youtube Id" name="youtubeId" value="{{ songBean.youtubeId }}" >
                        {% if errors.hasFieldErrors("youtubeId") %}
                            <span class="help-block">Need a value</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default">Create</button>
                    </div>
                </div>

            </fieldset>
        </form>

{% endblock %}