{% extends "../base.twig" %}

{% block title %}Home{% endblock %}
{% block content %}
    {% if errors %}
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span>Form contains errors. Please try again.</span>
        </div>
    {% endif %}

    <h1>Authors</h1>
    <table class="table">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Bio</th>
        </tr>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.bio }}</td>
            </tr>
        {% endfor %}
    </table>

    <form class="form-narrow form-horizontal" method="post" action="{{ '/admin/authors' | path }}">
        <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
        <fieldset>
            <legend>New Author</legend>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="name" placeholder="Name"
                           value="{{ authorBean.name }}" name="name">
                    {% if errors.hasFieldErrors("name") %}
                        <span class="help-block">Need a value</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="bio" class="col-lg-2 control-label">Bio</label>
                <div class="col-lg-10">
                    <textarea class="form-control" id="bio" name="bio">{{ authorBean.bio }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Create</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
