<!-- Player -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div id="ytplayer"></div>
    </div>
</div>

<!-- Songs playlist -->
<div class="row">
    <table class="table">
        <tr>
            <th>Song</th>
            <th>Album</th>
            <th>Authors</th>
            {% if authenticated %}
                <th>Add to playlist</th>
                <th>Like</th>
            {% endif %}
        </tr>
        {% for song in songs %}
            <tr>
                <td onclick="playSong('{{ song.youtubeId }}')" title="Play song">
                    <i class="glyphicon glyphicon-play"></i> {{ song.title }}
                </td>
                <td><a href="{{ '/album' | path }}/{{ song.album.id }}">
                    {{ song.album.title }}
                </a></td>
                <td>
                    {% for author in song.authors %}
                        <a href="{{ '/author' | path }}/{{ author.id }}">{{ author.name }}</a>,
                    {% endfor %}
                </td>
                {% if authenticated %}
                    <td>
                        <select onchange="addToPlaylist('{{ song.id }}','{{ song.title }}',this.value);" class="form-control">
                            <option value="">Select a playlist</option>
                            {% for playlist in account.playlists %}
                                <option value="{{ playlist.id }}">{{ playlist.title }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-default" onclick="likeSong({{ song.id }})"><i class="glyphicon glyphicon-heart"></i></button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('ytplayer', {
            height: '390',
            width: '640',
            videoId: '{% if youtubeId %}{{ youtubeId }}{% else %}FQLGhPHzxjc{% endif %}'
        });
    }
    function likeSong(_songId) {
        console.log('Song liked:',_songId);
        $.ajax({
            method : 'POST',
            url: "{{ '/like' | path }}/"+_songId,
            data : {
                "{{ csrf.parameterName }}" : "{{ csrf.token }}"
            }
        }).done(function(resp) {
            console.log("Response: ",resp);
        });
    }

    function playSong(_songYTId) {
        console.log('Loading video:',_songYTId);
        player.loadVideoById(_songYTId);
    }

    function addToPlaylist(_songId,_songName,_playlistId) {
        if(!_playlistId) return;
        if(!confirm('Add song \"'+_songName+'\" to playlist')) return;
        console.log( 'Song added to playlist:' , _playlistId );
        $.ajax({
            method : 'POST',
            url : '{{ account.username | path }}/playlists/'+_playlistId+'/add/'+_songId,
            data : {
                "{{ csrf.parameterName }}" : "{{ csrf.token }}"
            }
        }).done(function(resp) {
            console.log("Response: ",resp);
        });
    }
</script>
